<a href="@Url.Action("Giohang","Giohang")" style="color:black;font-weight:bold;text-decoration:none">
    <img src="~/images/viet-ung-dung-tao-gio-hang-bang-php-shopping-cart-phan-2.png" width="30px" />Giỏ Hàng (@ViewBag.Tongsoluong)
</a>
