@model IEnumerable<_15DH110184_HoangVi.Models.SACH>
@{
    ViewBag.Title = "SanPhamTheoNXB";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3 style="text-align:center ; color:red"> Sách Theo Nhà Xuất Bản</h3>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="thumbnail">
            <div class="product" style="margin-left:10px;padding-left:10px;height:250px;">
                <a href="@Url.Action("Details", "BookStore", new {id = sach.Masach} )">
                    <img alt="@sach.Tensach" src="~/images/@sach.Hinhminhhoa" />
                    <div>
                        <h5 style="text-align:center">
                            @sach.Tensach
                        </h5>
                    </div>
                    <div>
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
    <br />
</div>

